[Desktop Entry]
Name=FormatPen
Comment=Formatador de pendrive
Exec=formatpen
Icon=com.formatpen.FormatPen
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
