[Desktop Entry]
Name=FormatPen
Name[pt_BR]=FormatPen
Comment=USB drive formatter
Comment[pt_BR]=Formatador de pendrive
Exec=formatpen
Icon=com.formatpen.FormatPen
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=true
